<div class="row">
  <form method="POST" action="https://formspree.io/dan.carlyle@gmail.com">
      <div class="col-md-6 col-sm-12">
      <div class="block">
        <div class="form-group">
          <input type="text" name="name" class="form-control" placeholder="Your Name" />
        </div>
        <div class="form-group">
          <input type="text" name="email" class="form-control" placeholder="Email Address" />
        </div>
        <div class="form-group">
          <input type="text" name="subject" class="form-control" placeholder="Subject" />
        </div>
      </form>
    </div>
  </div>
  <div class="col-md-6 col-sm-12">
    <div class="block">
        <div class="form-group-2">
          <textarea
            class="form-control"
            rows="3" name="message"
            placeholder="Your Message"
          ></textarea>
        </div>
        <button class="btn btn-default" type="submit">Send Message</button>
      </form>
    </div>
  </div>
</div>
